
<div class="card-body">
<p class="mb-0 border-top">{{post.Comments.User.first_name}} {{post.Comments.User.last_name}}</p>
<p class="card-text">{{content}}</p>
<p class="card-text font-italic w-100 text-right text-secondary px-1" style="font-size: 0.725rem">Posted at {{updatedAt}}</p>
</div>